<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SD2024 Event {{if .ID}}{{.ID}}{{end}}</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="https://static.tildacdn.net/tild3763-3764-4233-a262-663139366634/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="basic_maincontainer">
            <form action="/basicEventEdit" method="post">
                <div class="inlineFields">
                    <div class="eventBasicNumber">
                        Event ID
                        <textarea name="eventID" class="eventData" placeholder="Event ID" readonly>{{if .ID}}{{.ID}}{{end}}</textarea>
                    </div>
                    <div class="eventBasicData">
                        Event Name
                        <textarea name="inputEventName" class="eventData" placeholder="...Event Name...">{{if .Name}}{{.Name}}{{end}}</textarea>
                    </div>
                    <div class="eventBasicData">
                        Event Date
                        <textarea name="inputEventDate" class="eventData" placeholder="...Event Date...">{{if .Date}}{{.Date}}{{end}}</textarea>
                    </div>
                </div>
                <div class="eventBasicData">
                    Add participants here: "EMAIL NAME GENDER PHONE"
                </div>
                <div>
                    <textarea name="inputText" class="addData" placeholder="...Participants Info...">{{if .Text}}{{.Text}}{{end}}</textarea>
                </div>
                <div class="eventBasicData">
                    <h2>{{if .Message}}{{.Message}}{{end}}</h2>
                </div>
                <div class="basic_elements">
                    <input type="submit" name="action" value="Save event" class="createEventOkButton">
                    <a href="basicList" class="basic_wideBlueButton">Go back</a>
                    <input type="submit" name="action" value="Delete event" class="deleteButton">
                </div>
                <div class="basic_elements">
                    <input type="submit" name="action" value="Print Male" class="printMaleButton">
                    <input type="submit" name="action" value="Print Female" class="printFemaleButton">
                    <input type="submit" name="action" value="Print Calculations" class="printResultButton">
                </div>
            </form>
            <form action="/basicMembersEdit" method="get">
                <div class="basic_elements">
                    <input type="hidden" name="eventID" value="{{ .ID }}">
                    <button type="submit" id="processEvent" class="createEventOkButton">
                        Edit members
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>