<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SD2024 New Event</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="https://static.tildacdn.net/tild3763-3764-4233-a262-663139366634/favicon.ico" type="image/x-icon">
    </head>
    <body class="background-image">
        <div class="basic_maincontainer">
                <form action="/basicEventCreate" method="post">
                    <div class="inputInfo">
                        <label for="inputEventName">Type Event name here:</label>
                        <textarea name="inputEventName" rows="1" cols="100" placeholder="...Event Name...">{{if .EventName}}{{.EventName}}{{end}}</textarea>
                    </div>
                    <div class="inputInfo">
                        <label for="inputEventDate">Choose Event Date</label>
                        <textarea name="inputEventDate" rows="1" cols="100" placeholder="...Event Date...">{{if .EventDate}}{{.EventDate}}{{end}}</textarea>
                    </div>
                    <div class="inputInfo">
                        <label for="inputText">Paste participants info here.<br>EMAIL NAME GENDER PHONE</label>
                        <textarea name="inputText" rows="30" cols="100" placeholder="...Participants Info...">{{if .Text}}{{.Text}}{{end}}</textarea>
                    </div>
                    <div class="inputInfo">
                        <h2>{{if .Message}}{{.Message}}{{end}}</h2>
                    </div>
                    <div class="basic_eventsListButtons">
                        <input type="submit" name="action" value="Submit" class="createEventOkButton">
                        <a href="basicList" class="createEventBackButton"><h2>Go back</h2></a>
                    </div>
                </form>
            </div>
    </body>
</html>