<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SD2024 New Event</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="shortcut icon" href="https://static.tildacdn.net/tild3763-3764-4233-a262-663139366634/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="basic_maincontainer">
                <form action="/basicEventCreate" method="post">
                    <div class="inlineFields">
                        <div class="eventBasicData">
                            Event Name
                            <textarea name="inputEventName" class="eventData" placeholder="...Event Name...">{{if .Name}}{{.Name}}{{end}}</textarea>
                        </div>
                        <div class="eventBasicData">
                            Event Date
                            <textarea name="inputEventDate" class="eventData" placeholder="...Event Date...">{{if .Date}}{{.Date}}{{end}}</textarea>
                        </div>
                    </div>
                    <div class="eventBasicData">
                        Paste participants info here: "EMAIL NAME GENDER PHONE"
                    </div>
                    <div>
                        <textarea name="inputText" class="insertData" placeholder="...Participants Info...">{{if .Text}}{{.Text}}{{end}}</textarea>
                    </div>
                    <div class="eventBasicData">
                        <h2>{{if .Message}}{{.Message}}{{end}}</h2>
                    </div>
                    <div class="basic_elements">
                        <input type="submit" name="action" value="Submit" class="createEventOkButton">
                        <a href="basicList" class="basic_wideBlueButton">Go back</a>
                    </div>
                </form>
            </div>
    </body>
</html>