body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* *** ALL PAGES *** */

.basic_maincontainer {
    width: 3000px;
    max-width: 90%;
    min-height: 83%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 2cm rgba(0, 0, 0, 0.4);
    text-align: left;
    background: rgb(230, 230, 230);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.basic_maincontainer h1{
    text-align: center;
    width: 100%;
}

.basic_elements {
    width: 100%;
    margin: 5px;
    height: 8vh;
    display:table;
}

.basic_wideGreenButton {
    width: 99%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: #61ac7a;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 3vh;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.basic_wideGreenButton:hover {
    background-color: #79d899;
}

.basic_wideBlueButton {
    width: 99%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: #8d8d8d;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 3vh;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.basic_wideBlueButton:hover {
    background-color: #b1b1b1;
}

/* *** INDEX PAGE *** */

.container {
    /* width: 400px; */
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 2cm rgba(0, 0, 0, 0.4);
    text-align: center;
    background: rgb(230, 230, 230);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    font-size: 24px;
    color: #000000;
    /* padding: 10px; */
}

.container p {
    font-size: 18px;
    color: #000000;
    padding: 0px;
}

.button-container {
    margin: 0px 0px 20px 0px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #5f5f5f;
}

.button-wide {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #5f5f5f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button-wide:hover {
    background-color: #7e7e7e;
}

.button-red {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(87, 6, 6);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button-red:hover {
    background-color: rgb(124, 9, 9);
}

.button-yellow {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #574406;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button-yellow:hover {
    background-color: #80640b;
}

.button-green {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #095c32;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button-green:hover {
    background-color: rgb(11, 131, 111);
}

/* *** EVENTS LIST PAGE *** */
.singleEventButton {
    width: 99%;
    display: inline-block;
    margin: 5px;
    background-color: #acacac;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.singleEventButton:hover {
    background-color: #c4c4c4;
}

/* *** EVENT CREATE PAGE *** */
.inlineFields {
    display: inline-flex;
    width: 100%;
}

.eventBasicData {
    display: inline-block;
    width: 100%;
    margin: 1vh;
    font-weight: 600;
    font-size: 2vh;
    text-align: center;
}

.eventBasicNumber {
    display: inline-block;
    width: 25%;
    margin: 1vh;
    font-weight: 600;
    font-size: 2vh;
    text-align: center;
}

.eventData {
    width: 100%;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
}

.insertData {
    width: 100%;
    min-width: 850px;
    min-height: 200px;
    font-size: 2vh;
}

.createEventOkButton {
    width: 99%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: #61ac7a;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.createEventOkButton:hover {
    background-color: #79d899;
}

.saveButton {
    width: 40%;
    margin: 5px 5px 5px 5px;
    background-color: #61ac7a;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.saveButton:hover {
    background-color: #79d899;
}

.deleteButton {
    width: 30%;
    margin: 5px 5px 5px 5px;
    background-color: #ac6161;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.deleteButton:hover {
    background-color: #d87979;
}

/* *** EVENT EDIT PAGE *** */
.addData {
    width: 100%;
    min-width: 850px;
    min-height: 80px;
    font-size: 2vh;
}

.printMaleButton {
    width: 15%;
    margin: 5px 5px 5px 5px;
    background-color: #384fd4;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.printMaleButton:hover {
    background-color: #546cf5;
}

.printFemaleButton {
    width: 15%;
    margin: 5px 5px 5px 5px;
    background-color: #d43838;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.printFemaleButton:hover {
    background-color: #f15454;
}

.printResultButton {
    width: 99%;
    margin: 5px 5px 5px 5px;
    background-color: #a4b944;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.printFemaleButton:hover {
    background-color: #c6e051;
}

/* *** MEMBERS EDIT PAGE *** */
.basic_singlePerson {
    width: 97%;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 15px;
    padding: 5px;
}

.participantsInfo {
    width: 100%;
    font-size: 3vh;
}

.participantsInfoTextarea {
    width: 99%;
    font-size: 2vh;
}

.saveButton {
    width: 100%;
    margin: 5px 5px 5px 5px;
    background-color: #198522;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.saveButton:hover {
    background-color: #1da528;
}

.loadButton {
    width: 100%;
    margin: 5px 5px 5px 5px;
    background-color: #198522;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    float: right;
}

.loadButton:hover {
    background-color: #1da528;
}